Repository ticheung/circleci-sagemaker: changes, and which CircleCI parameters are due for each by the changed paths.
All: deploy-model1, deploy-model2

.circleci/config.yml:

version: 2.1

orbs:
  path-filtering: circleci/path-filtering@0.1.3

parameters:
  deploy-model1:
    type: boolean
    default: false
  deploy-model2:
    type: boolean
    default: false

executors:
  python:
    docker:
      - image: python:3.11
    environment:
      AWS_ACCESS_KEY: $AWS_ACCESS_KEY
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      MY_ENV_VAR: $MY_ENV_VAR

jobs:
  gather-data:
    executor: python
    steps:
      - checkout
      - run: echo $MY_ENV_VAR

workflows:
  train-and-deploy:
    jobs:
      - path-filtering/filter:
          # Compare files on main
          base-revision: main
          # 3-column space-separated table for mapping: `path-to-test parameter-toset value-for-parameter` for each row
          mapping: |
            model1/.* deploy-model1 true
            model2/.* deploy-model2 true
      - gather-data

edit
  .circleci/config.yml
Due: none

dynamic config setup
  .circleci/config.yml
Due: none

edit
  .circleci/dynamic_config.yml
Due: none

comment
  .circleci/config.yml
Due: none

requirements txt
  .circleci/dynamic_config.yml
  requirements.txt
Due: none

gather data
  .circleci/dynamic_config.yml
  model1/gather_data.py
Due: deploy-model1

gather data
  .circleci/dynamic_config.yml
Due: none

gather data
  model1/gather_data.py
Due: deploy-model1

env variables
  .circleci/dynamic_config.yml
  .gitignore
  model1/gather_data.py
Due: deploy-model1

env variables
  model1/gather_data.py
Due: deploy-model1

edit
  .circleci/config.yml
  .circleci/config_bkup.yml
  .circleci/dynamic_config.yml
Due: none

edit
  model1/gather_data.py
Due: deploy-model1

add model training
  .circleci/config.yml
  model1/gather_data.py
  model1/train_model.py
  requirements.txt
Due: deploy-model1

add context
  .circleci/config.yml
Due: none

adjust training instance
  model1/train_model.py
Due: deploy-model1

push new models to model registry
  .circleci/config.yml
  model1/gather_data.py
  model1/train_model.py
Due: deploy-model1

deploy model in cicd
  .circleci/config.yml
  model1/deploy.py
  model1/train_register.py
Due: deploy-model1

deploy model in cicd
  model1/deploy.py
Due: deploy-model1

add second model
  .circleci/config.yml
  model2/deploy.py
  model2/gather_data.py
  model2/train_register.py
Due: deploy-model2

add second model
  model2/gather_data.py
Due: deploy-model2

add second model
  .circleci/config.yml
  model1/deploy.py
  model1/gather_data.py
  model1/train_register.py
  model2/deploy.py
  model2/gather_data.py
  model2/train_register.py
Due: deploy-model1, deploy-model2

rename model files
  abalone_model/deploy.py
  abalone_model/gather_data.py
  abalone_model/train_register.py
  churn_model/deploy.py
  churn_model/gather_data.py
  churn_model/train_register.py
Due: none

switch back to dynamic config
  .circleci/config.yml
  .circleci/config_bkup.yml
  .circleci/dynamic_config.yml
Due: none

env variables do not need to be redeclared
  .circleci/dynamic_config.yml
Due: none

add filter to cicd
  .circleci/dynamic_config.yml
Due: none

missing :
  .circleci/dynamic_config.yml
Due: none

dummy changes to test cicd
  abalone_model/gather_data.py
Due: none

training runs on push but deploy runs only on merge to main
  .circleci/config_bkup.yml
  .circleci/dynamic_config.yml
Due: none

trigger cicd
  abalone_model/deploy.py
Due: none
